
<!-- Create User Template-->
<div class="login">
  <div class="container">
    <div class="form">

    <h1>Registrate</h1>
<!-- Form Create User --> 

    <%= form_for(@user) do |f| %>

    
  
     
     
      <%= f.text_field :nick_name, class: "form-control", :placeholder => "Sobrenombre del usuario" %>
      <%= f.error_message_on :nick_name %><br>

      <%= f.text_field :first_name, class: "form-control", :placeholder => "Nombre" %>
      <%= f.error_message_on :first_name %><br>
      
      <%= f.text_field :last_name, class: "form-control", :placeholder => "Apellido" %>
      <%= f.error_message_on :last_name %><br>
      
      <%= f.email_field :email, class: "form-control",:placeholder => "Email" %>
      <%= f.error_message_on :email %><br>
      
      <%= f.password_field :password, class: "form-control", :placeholder => "Contraseña" %>
      <%= f.error_message_on :password %><br>      
      
      <%= f.password_field :password_confirmation, class: "form-control", :placeholder => "Confirmar contraseña" %>
      <%= f.error_message_on :password_confirmation %><br>
  		
      <%=f.radio_button :admin,true,class: "RadioBtn-IsAdmin" %>
  		<%=f.label :true, 'Usuario administrador'%>
  		<%=f.radio_button :admin, false ,class: "RadioBtn-IsAdmin"%>
  		<%=f.label :false, 'Usuario normal'%><br>

      <%= f.button "Registrar Usuario", class: "btn btn-success"  %>
      <%=link_to 'Cancelar', "/",class: "btn btn-danger"%>
  <% end %>

  
    </div>
  </div>
</div>

