
<!-- Create User Template-->
<div class="login">
  <div class="container">
    <div class="form">

    <h1>Registrate</h1>
<!-- Form Create User --> 

    <%= form_for(@user) do |f| %>

    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2> 
          <%= pluralize(@user.errors.count, "error") %> El usuario no se registro debido:
        </h2>
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>

              <% end %>
            </ul>   
          
      </div>  
    <% end %>
  
     
      
      <%= f.text_field :nick_name, :placeholder => "Sobrenombre del usuario" %><br>
      <%= f.text_field :first_name, :placeholder => "Nombre" %><br>
      <%= f.text_field :last_name, :placeholder => "Apellido" %><br>
      <%= f.email_field :email, :placeholder => "Email" %><br>
      <%= f.password_field :password, :placeholder => "Contraseña" %><br>      
      <%= f.password_field :password_confirmation, :placeholder => "Confirmar contraseña" %><br>

  		<%=f.radio_button :admin, true %>
  		<%=f.label :true, 'Usuario administrador'%>
  		<%=f.radio_button :admin, false%>
  		<%=f.label :false, 'Usuario normal'%><br>

      <%= f.submit "Registrar Usuario", class: "btn-submit" %>
  <% end %>

  
    </div>
  </div>
</div>

