
<div class="container">
<h1>User list</h1>
<% if flash[:notice] %>
    
  <div class="alert alert-success" role="alert">
    <stronger><%= flash[:notice] %></stronger>    
  </div>
<% end %>



<table class="table table-hover">
  <tr>
  	<th>Foto</th>
    <th>Usuario</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Editar </th>
    <th>Eliminar</th>
    <th colspan="2"></th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>

      <td><%= image_tag user.profile_photo,class: "img-circle"%></td>
      <td><%= user.nick_name %></td>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= link_to 'Editar', edit_user_path(user.id) %></td>
      
      <td><%= link_to 'Eliminar', user_path(user), 
              method: :delete, 
              data: { confirm: 'Esta seguro de eliminar a '+ user.nick_name+'?' }%></td>
    </tr>
  <% end %>
</table>



</div>

 
<script type="text/javascript">
$(function() {
  setTimeout(function(){
    $('.alert').slideUp(500);
  }, 1000);
});
</script>
