<!DOCTYPE html>
<html>
<head>
  <title>BillsProject</title>









<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>

</head>
<body>
<!---->
<div class="header">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        
        <a href="#" class="navbar-brand">Brand</a>
        <i class="glyphicon glyphicon-cutlery"></i>
      </div>

      <div id="bs-example-navbar-collapse-2" class="collapse navbar-collapse">
        
          
        <ul class="nav navbar-nav navbar-right">
        </li>
           <% if current_user %> 

              
                 <li class="dropdown">
                  
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.nick_name%> <%= image_tag current_user.profile_photo,class: "img-circle"%> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li class = "user-links"><%= link_to "Cerrar Sesion", logout_path,method: "delete" %></li>
                    </ul>          
          <% else %> 


            <li><%= link_to "Iniciar sesion", '/login',class: "user-links" %></a></li>

            <!--                       
            <li><%= link_to "Registrarse", 'signup',class: "user-links" %></a></li>

            -->
          <%end%>
        </ul>
      </div>




    </div>
  </nav>

  
  
</div>


<%= yield %>

</body>
</html>
